html body {
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
}
.container {
    margin-top: 15px !important;
    border-width: 10px;
    border-color: inherit;
    border-radius: 15px;
}
@font-face {
    font-family: "TWITCH";
    src: url(DIMIS.TTF) format("truetype");
}
.main-bar {
    font-family: 'TWITCH', serif;
    color: #6433A5 !important;
    font-size: 50px;
    text-align: center;
    margin: 15px;
}
.streamers-list {
    background-color: #6441a4;
    margin: 15px;
    padding: 20px;
}
.streamer-info {
    margin: 20px 10px;
    padding: 20px 10px 20px 10px;
    background-color: white;
    border: 3px solid white;
    border-radius: 5px;
}
a, a:visited, a:hover, a:active {
    text-decoration: none !important;
    outline: none !important;
    border: none !important;
}
.active:hover {
    border-style: ridge;
}
.not-active {
    opacity: 0.3;
}
.not-active:hover {
    opacity: 0.7 !important;
}
.dropdown-option {
    font-size: 15px;
    text-align: center;
    font-weight: bolder;
}
.dropdown-option:hover {
    background-color: #333333 !important;
    color: white !important;
}
.dropdown-div {
    margin: 0px 15px;
    text-align: right;
}
.online-text {
    font-weight: bolder;
    color: #6433A5 !important;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
.stream-name {
    color: black !important;
    font-weight: bolder;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
.offline-text {
    margin-left: 10px;
    margin-right: 15px;
}
